{% extends 'base.html' %}

{% block app_content %}
    <h2 class="centered-header display-2">Welcome to Orbital Kettle Relay</h2>
    <h4>Sorry for the shit design</h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4>Our budget for webdesign is sad right now</h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h6>We didn't even use CSS to space these 'fun' messages :( </h6>
    <br>
    <br>
    <br>
    <h4>Bet ya didn't know there are actually 4 of these....</h4>
{% endblock app_content %}
