{% extends 'base.html' %}
{% block app_content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {% set fields = ['actor1', 'actor2'] %}
            <div class="form-group">
                <legend class="border-bottom mb-4">Enter the Actors Below</legend>
                {% for field_name in fields %}
                    <fieldset class="form-group">
                        {{ form[field_name].label(class="form-control-label") }}
<!--                        {{ form[field_name] }}-->
                        {% if form[field_name].errors %}
                            {{ form[field_name](class="form-control form-control-lg is-invalid") }}
                             <div class="invalid-feedback">
                                {% for error in form[field_name].errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                             </div>
                        {% else %}
                            {{ form[field_name](class="form-control form-control-lg") }}
                        {% endif %}
                    </fieldset>
                {% endfor %}

            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock app_content %}
